<%# Partial for rendering column visibility controls %>
<%# @param table_id [String] The ID of the table to control %>
<%# @param columns [Array<Hash>] Array of column definitions with :index and :label %>
<div class="column-controls" id="<%= controls_id %>">
  <h4>Show/Hide Columns:</h4>
  <% columns.each do |column| %>
    <label>
      <input type="checkbox" 
             data-column-index="<%= column[:index] %>" 
             checked> 
      <%= column[:label] %>
    </label>
  <% end %>
</div> 